<!doctype html>
<html>
  <head>
    <title>Nat's Code History</title>

    <link type="text/css" rel="stylesheet" href="style.css" />

    <script src="http://d3js.org/d3.v2.js"></script>
  </head>
  <body>

    <div id="paired-line-chart">
      <script type="text/javascript">

        // Date formatter function
        var parse = d3.time.format("%Y-%m-%d %H:%M:%S").parse;

        // Chart dimensions
        var m = [80, 80, 80, 80]; // Margins
        var w = 960 - m[1] - m[3];
        var h = 500 - m[0] - m[2];

        // Scales. Nice functions which auto resize things.
        // Also defines the ranges for the graph (top and bottom numbers)
        var x = d3.time.scale().range([0, w]);
        var y = d3.scale.linear().range([h, 0]);
        var xAxis = d3.svg.axis().scale(x).tickSize(-h).tickSubdivide(true);
        var yAxis = d3.svg.axis().scale(y).ticks(4).orient("right");

        // An area generator, for the light fill.
        // TODO(icco): Figure htf this works...
        var area = d3.svg.area()
          .interpolate("monotone")
          .x(function(d) { return x(d.date); })
          .y0(h)
          .y1(function(d) { return y(d.repos); });

        // A line generator, for the dark stroke.
        // TODO(icco): Figure htf this works...
        var line1 = d3.svg.line()
          .interpolate("monotone")
          .x(function(d) { return x(d.date); })
          .y(function(d) { return y(d.repos); });

        var line2 = d3.svg.line()
          .interpolate("monotone")
          .x(function(d) { return x(d.date); })
          .y(function(d) { return y(d.watchers); });

        var line3 = d3.svg.line()
          .interpolate("monotone")
          .x(function(d) { return x(d.date); })
          .y(function(d) { return y(d.forks); });


        // The minified js import at the top gives us all of the d3 plugins. FOR FREE!
        d3.csv("/data.csv", function(data) {

            // In theory we could filter our data here...
            var values = data.filter(function(d) {
              return true
            });

            // Does nice formatting on the data
            values.forEach(function(d) {
              d.date = parse(d.date);
            });

            // Compute the minimum and maximum date, and the maximum price.
            x.domain([values[0].date, values[values.length - 1].date]);
            y.domain([0, d3.max(values, function(d) { return Math.max(d.forks, d.watchers, d.repos); })]).nice();

            // Add an SVG element with the desired dimensions and margin.
            var svg = d3.select("body").append("svg:svg")
              .attr("width", w + m[1] + m[3])
              .attr("height", h + m[0] + m[2])
              .append("svg:g")
              .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

            // Add the clip path.
            svg.append("svg:clipPath")
              .attr("id", "clip")
              .append("svg:rect")
              .attr("width", w)
              .attr("height", h);

            // Add the area path.
            svg.append("svg:path")
              .attr("class", "area")
              .attr("clip-path", "url(#clip)")
              .attr("d", area(values));

            // Add the x-axis.
            svg.append("svg:g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + h + ")")
              .call(xAxis);

            // Add the y-axis.
            svg.append("svg:g")
              .attr("class", "y axis")
              .attr("transform", "translate(" + w + ",0)")
              .call(yAxis);

            // Add the line paths.
            svg.append("svg:path")
              .attr("class", "line")
              .attr("clip-path", "url(#clip)")
              .attr("d", line1(values));
            svg.append("svg:path")
              .attr("class", "line")
              .attr("clip-path", "url(#clip)")
              .attr("d", line2(values));
            svg.append("svg:path")
              .attr("class", "line")
              .attr("clip-path", "url(#clip)")
              .attr("d", line3(values));

            // Add a small label for the name.
            svg.append("svg:text")
              .attr("x", w - 6)
              .attr("y", h - 6)
              .attr("text-anchor", "end")
              .text("github.com/icco");
        });
      </script>
    </div>
  </body>
</html>
