<!doctype html>
<html>
  <head>
    <title>Nat's Code History</title>

    <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Nat's Code</h1>
      </div>

      <!--  #ff7f0e #2ca02c #d62728 #9467bd  -->
      <div class="area-chart chart" id="commits"     data-color="#1F77B4"></div>

      <div class="year-chart chart" data-year="2014" data-color="#8C564B"></div>
      <div class="year-chart chart" data-year="2013" data-color="#365FA1"></div>
      <div class="year-chart chart" data-year="2012" data-color="#E377C2"></div>
      <div class="year-chart chart" data-year="2011" data-color="#7F7F7F"></div>
      <div class="year-chart chart" data-year="2010" data-color="#BCBD22"></div>
      <div class="year-chart chart" data-year="2009" data-color="#17BECF"></div>

      <div class="footer">
        <p class="muted">a site by <a href="http://github.com/icco">@icco</a>.</p>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="/js/graph.js"></script>
    <!--
    <script src="/js/repos.js"></script>
    -->
    <script type="text/javascript">
      $(document).ready(function() {
        // Draw commits per day chart
        drawCommitChart($('#commits').attr('data-color'));

        // Draw year charts
        $('.year-chart').each(function(i, el) { drawWeeklyChart($(el).attr('data-color'), $(el).attr('data-year'), el); });

        // drawRepos();
      });
    </script>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '52293682f5a1f570c2000004');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
