<!doctype html>
<html>
  <head>
    <title>Nat's Code History</title>

    <link href="/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />

    <style>
      .year-chart .axis path,
      .year-chart .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .year-chart .x.axis path {
        display: none;
      }

      .year-chart .line {
        fill: none;
        stroke-width: 1.5px;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Nat's Code</h1>
      </div>

      <!--  #ff7f0e #2ca02c #d62728 #9467bd  -->
      <div class="area-chart" id="commits"     data-color="#1F77B4"></div>

      <div class="year-chart" data-year="2013" data-color="#8C564B"></div>
      <div class="year-chart" data-year="2012" data-color="#E377C2"></div>
      <div class="year-chart" data-year="2011" data-color="#7F7F7F"></div>
      <div class="year-chart" data-year="2010" data-color="#BCBD22"></div>
      <div class="year-chart" data-year="2009" data-color="#17BECF"></div>

      <!--
      <p>
      Hey there, above is a chart of commits per day made by <a href="http://natwelch.com">Nat</a> to repositories on Github. Below are his repositories organized by topic.
      </p>
      -->

      <div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/graph.js"></script>
    <!--
    <script src="https://raw.github.com/k33g/gh3/master/gh3.js"></script>
    <script src="/js/repos.js"></script>
    -->
    <script type="text/javascript">
      $(document).ready(function() {
        drawCommitChart($('#commits').attr('data-color'));

        $('.year-chart').each(function(i, el) { drawWeeklyChart($(el).attr('data-color'), $(el).attr('data-year'), el); });

        // drawRepos();
      });
    </script>
  </body>
</html>
