<!doctype html>
<html>
  <head>
    <title>Nat's Code History</title>

    <link href="/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />

    <style>
      .year-chart .axis path,
      .year-chart .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .year-chart .x.axis path {
        display: none;
      }

      .year-chart .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Nat's Code</h1>
      </div>

      <div class="area-chart" id="commits">
      </div>

      <div class="year-chart" data="2013">
      </div>

      <div class="year-chart" data="2012">
      </div>

      <div class="year-chart" data="2011">
      </div>

      <div class="year-chart" data="2010">
      </div>

      <div class="year-chart" data="2009">
      </div>

      <!--
      <p>
      Hey there, above is a chart of commits per day made by <a href="http://natwelch.com">Nat</a> to repositories on Github. Below are his repositories organized by topic.
      </p>
    -->

      <div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/graph.js"></script>
    <!--
    <script src="https://raw.github.com/k33g/gh3/master/gh3.js"></script>
    <script src="/js/repos.js"></script>
    -->
    <script type="text/javascript">
      $(document).ready(function() {
        drawCommitChart("#3d68b8");

        $('.year-chart').each(function(i, el) { drawWeeklyChart("#3d68b8", $(el).attr('data'), el); });

        // drawRepos();
      });
    </script>
  </body>
</html>
